body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    color: #333;
    margin: 20px 0;
}

#movieInput {
    padding: 10px;
    font-size: 16px;
    width: 60%;
    border: 2px solid #333;
    border-radius: 5px;
}

#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #555;
}

/* Add this CSS to your external CSS file or within a <style> block in your HTML */
#filter-container {
    margin: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter-container label {
    font-weight: bold;
    margin-right: 10px;
}

#year-filter {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80px;
}

#filter-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#filter-button:hover {
    background-color: #0056b3;
}

#movieResults {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}